<div class="cc-dashboard-header">
        
            <div class="cc-sidebar-logo">
                <img src="/images/logo.png" alt="" class="cc-full-img">
                <img src="/images/logo-small.png" alt="" class="cc-small-img">
            </div>

            <div class="cc-menubar-wrapper">

                <div class="cc-menubar">
                    <i class="material-icons cc-menu-icon"> menu </i>
                </div>

                <div class="cc-mobile-logo"></div>

                <div class="cc-mobile-rightmenu">
                    <i class="material-icons"> more_horiz </i>
                </div>
    
                <div class="cc-dh-right-menu">
                    <div class="cc-dh-right-menu-inner">
                        <ul>
                            <li>
                                <div class="cc-icon-section"> <i class="material-icons"> notifications </i> </div>
                                <div class="cc-popup-section-overlay">
                                    <div class="cc-popup-section">
                                        <div class="cc-popup-header">
                                            <span class="cc-uparw"></span>
                                        </div>
                                        <div class="cc-popup-content"></div>
                                        <div class="cc-popup-footer"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cc-icon-section"> <i class="material-icons"> textsms </i> </div>
                                <div class="cc-popup-section-overlay">
                                    <div class="cc-popup-section">
                                        <div class="cc-popup-header">
                                            <span class="cc-uparw"></span>
                                        </div>
                                        <div class="cc-popup-content"></div>
                                        <div class="cc-popup-footer"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cc-icon-section"> <i class="material-icons"> person_pin </i> </div>
                                <div class="cc-popup-section-overlay">
                                    <div class="cc-popup-section">
                                        <div class="cc-popup-header">
                                            <span class="cc-uparw"></span>
                                        </div>
                                        <div class="cc-popup-content"></div>
                                        <div class="cc-popup-footer"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

      