 

            <!-- dashboard sidebar  -->
            <div class="cc-dasbboard-sidebar">
                <!-- <div class="cc-sidebar-logo"></div> -->
                <div class="cc-sidebar-navigation">
                    <div class="cc-sidebar-contents">

                        <div class="cc-collapse-nav">
                            <ul>
                                <li class="cc-menu">
                                    <div class="cc-submenu-wrapper"> 
                                        <span class="cc-menu-title cc-has-child ripple">
                                            <i class="material-icons"> dashboard </i>
                                            <span class="cc-menu-name">Dashboard</span>
                                        </span>
                                        {{!-- <ul class="cc-submenu">
                                            <li><a href="">submenu1</a></li>
                                            <li><a href="">submenu2</a></li>
                                            <li><a href="">submenu3</a></li>
                                        </ul> --}}
                                    </div>
                                </li>

                                <li class="cc-menu">
                                    <div class="cc-submenu-wrapper"> 
                                        <span class="cc-menu-title cc-has-child ripple">
                                            <i class="material-icons"> apps </i>
                                            <span class="cc-menu-name">Template</span>
                                        </span>
                                        <ul class="cc-submenu">
                                            <li><a href="/template">Create Template</a></li>
                                            {{!-- <li><a href="">submenu2</a></li>
                                            <li><a href="">submenu3</a></li> --}}
                                        </ul>
                                    </div>
                                </li>

                                {{!-- <li class="cc-menu">
                                    <div class="cc-submenu-wrapper"> 
                                        <span class="cc-menu-title cc-has-child ripple">
                                            <i class="material-icons"> apps </i>
                                            <span class="cc-menu-name">Component</span>
                                        </span>
                                        <ul class="cc-submenu">
                                            <li><a href="">submenu1</a></li>
                                            <li><a href="">submenu2</a></li>
                                            <li><a href="">submenu3</a></li>
                                        </ul>
                                    </div>
                                </li> --}}

                                {{!-- <li class="cc-menu">
                                    <div class="cc-submenu-wrapper">
                                        <span class="cc-menu-title">
                                            <i class="material-icons"> post_add </i>
                                            <span class="cc-menu-name">Forms</span>
                                        </span>
                                    </div>
                                </li> --}}
                            </ul>
                        </div>
                       
                    </div>
                </div>

            <!-- dashboard sidebar  -->
              </div>