<!DOCTYPE html>
<html>
  <head>
    <title>E-Sign</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{!--<link rel='stylesheet' href='/stylesheets/style.css'/>--}}
      <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/loginform.css"/>
    <link rel="stylesheet" href="/stylesheets/dashboard.css"/>
    <link rel="stylesheet" href="/stylesheets/uikit.min.css"/>
    <link rel="stylesheet" href="/stylesheets/template.css"/>

     <script src="/javascripts/jq3.js"></script>
     <script src="/javascripts/app.js"></script>
     <script src="/javascripts/template.js"></script>
     <script src="/javascripts//uikit.min.js"></script>
    
  </head>
  <body>
    {{{body}}}
  </body>
</html>
    