
<div class="cc-dashboard-wrapper">
 {{> header}}
 <div class="cc-dashboard-main-section">
{{> sidebar}}


<div class="cc-dasbboard-main">
                <div class="cc-dashboard-content-wrapper">
                    <div class="cc-dashboard-breadcrumbs"> 
                        <h4>Template</h4>
                        <ol>
                            <li class="breadcrumb-item"><a href="">Home <span><i class="material-icons"> chevron_right </i></span> </a></li>
                            <li class="breadcrumb-item active">Dashboard  <span><i class="material-icons"> chevron_right </i></span> </li>
                        </ol>
                    </div>
                    <div class="cc-dashboard-content">
                            test content

                        </div>
                        </div>
 </div>


</div>

</div>
